body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: 'Roboto', Arial, sans-serif;
}

nav {
  border-bottom-width: 2px;
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  font-family: 'Shrikhand', cursive;
}

nav a {
  color: #000;
  text-decoration: none;
}

#body {
  padding: 0 10px 20px;
}

#page-title {
  margin: 0 0 25px 0;
  padding: 0;
  border-bottom: 1px solid #aaa;
  font-weight: 300;
}
