body, html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
}

.episode-list {

}

.episode-list-item {
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    border-bottom: 1px dashed red;
    align-items: center;
}
.position {

}

.title {
    /*margin-top: auto;*/
    margin-left: 4px;
    margin-right: auto;
}
.title a {
    text-decoration: none;
    color: #00b1b2;
}
.title a:hover {
    text-decoration: underline;
}

.length {

}