.box {
  padding: 20px;
  border: 1px solid #dddddd;
}

.container {
  max-width: 1200px;
  margin: auto;
  background: #e3d3d3;
}

.columns {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap-reverse;
}

.columns:not(:last-child) {
  margin-bottom: 20px;
}

.column {
  flex: 1;
}