body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

nav {
  border-bottom-width: 2px;
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
}

#padding-test {
  border-width: 1px;
  border-color: blue;
  border-style: solid;

  padding: 6px 0 8px 9px;
        /*top rht btm left*/
}
